@import 'styles/variables';

.form{
    display: grid
}
//grid worked so far the best   
//inline-flex is good too but probably not for mobile

.first {
    color: $color-orange; 
    font-size: 30px;
}

.last {
    color: $color-orange; 
    font-size: 30px;

}

.email {
    color: $color-orange; 
    font-size: 30px;
}